body {
    font-family: 'Montserrat', sans-serif;
    transition: background-color .5s;
    margin:0;
    background-color: #101010;
 }

#wrapper {
    color: white;
    width: 100%;
    margin: auto;
}

.content{
  display: flex;
  flex-direction: row;
}

/* NAV BAR */
.topnav {
    display:grid;
    grid-auto-flow: column;
    background-color: #101010;
    justify-content:center;
    align-items:center;
    font-family: 'Montserrat', sans-serif;
    padding:15px;
    border-bottom: 1px white solid;
    padding-left: 90px;
 }

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 10px 35px;
    text-decoration: none;
    font-size: 18px;
 }

 .topnav a:hover {
    text-decoration: underline;
 }

.topnav a.active {
    background-color: #d84727;
    color: white;
 }

 .topnav .homebutton{
    border: 3px white solid;
 }

 .topnav .homebutton a:hover{
    text-decoration: none;
 }


 /* CART */
.cartnav {
    height: 100%;
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #101010;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px;
    transition: 0.5s;
  }
  .cartnav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .cartnav a:hover {
    color: #f1f1f1;
  }
  
  .cartnav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-right .5s;
    padding: 20px;
  }

/* TITLE */
.title{
  width: 85%;
  justify-content: center;
}

/* FOOTER */
 footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;  
  padding: 25px;
  background-color: #101010;
  color: white;
  border-top: 1px white solid;
}

footer a{
 color: white;
 text-decoration: none;
}

#bttop{
background-color: #101010;
font-family: 'Montserrat', sans-serif;
font-size: 16px;
color: white;
margin: 10px;
border-style: none;
}




