body {
  font-family: 'Montserrat', sans-serif;
  transition: background-color .5s;
  margin:0;
}

#wrapper {
  background-color: #101010;
  color: white;
  width: 100%;
  margin: auto;
}

/* NAV BAR */
.topnav {
  display:grid;
  grid-auto-flow: column;
  background-color: #101010;
  justify-content:center;
  align-items:center;
  font-family: 'Montserrat', sans-serif;
  padding:15px;
  border-bottom: 1px white solid;
  padding-left: 90px;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 10px 35px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  text-decoration: underline;
}

.topnav a.active {
  background-color: #d84727;
  color: white;
}

.topnav .homebutton{
  border: 3px white solid;
}

.topnav .homebutton a:hover{
  text-decoration: none;
}

/* SLIDESHOW */
.mySlides {
   display: none;
}

img {
   vertical-align: middle;
}

.slideshow-container {
   width: 90%;
   position: relative;
   margin: auto;
   padding-top: 50px;
 }
 
 /* Next & previous buttons */
 .prev, .next {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   padding: 16px;
   color: white;
   font-weight: bold;
   font-size: 18px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   user-select: none;
   margin-left: -50px;
 }
 
 /* Position the "next button" to the right */
 .next {
   right: -50px;
   border-radius: 3px 0 0 3px;
 }
 
 /* Caption text */
 .text {
   color: white;
   text-align: right;
   position: absolute;
   right: 50px;
   top: 270px;
 }

 .text h1{
  padding: 0px;
  margin: 0px;
 }

 .text p{
  float: right;
 }

 .text .findoutmore{
  clear: both;
  float: right;
 }

 .text .findoutmore{
  margin: auto;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 40px;
  border: 1px solid white;
  }
 
 /* The dots/bullets/indicators */
 .dot {
   cursor: pointer;
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
 }
 
 .active, .dot:hover {
   background-color: #717171;
 }
 
 /* Fading animation */
 .fade {
   animation-name: fade;
   animation-duration: 1.5s;
 }

 @keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* FOOTER */
footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;  
  padding: 25px;
  background-color: #101010;
  color: white;
  border-top: 1px white solid;
}

footer a{
 color: white;
 text-decoration: none;
}

#bttop{
background-color: #101010;
font-family: 'Montserrat', sans-serif;
font-size: 16px;
color: white;
margin: 10px;
border-style: none;
}




