body {
    font-family: 'Montserrat', sans-serif;
    transition: background-color .5s;
    margin:0;
 }

#wrapper {
    background-color: #101010;
    color: white;
    width: 100%;
    margin: auto;
}

/* NAV BAR */
.topnav {
    display:grid;
    grid-auto-flow: column;
    background-color: #101010;
    justify-content:center;
    align-items:center;
    font-family: 'Montserrat', sans-serif;
    padding:15px;
    border-bottom: 1px white solid;
    padding-left: 90px;
 }

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 10px 35px;
    text-decoration: none;
    font-size: 18px;
 }

 .topnav a:hover {
    text-decoration: underline;
 }

.topnav a.active {
    background-color: #d84727;
    color: white;
 }

 .topnav .homebutton{
    border: 3px white solid;
 }

 .topnav .homebutton a:hover{
    text-decoration: none;
 }


 /* CART */
.cartnav {
    height: 100%;
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #101010;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px;
    transition: 0.5s;
  }
  .cartnav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .cartnav a:hover {
    color: #f1f1f1;
  }
  
  .cartnav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-right .5s;
    padding: 20px;
  }

/* BANNER */
.banner{
  background: url('../Images/showingnow.jpeg') no-repeat;
  height: 240px;
}

.banner-text{
font-size: 20px;
background-color: white;
color: black;
margin: auto;
width: fit-content;
}

/*FILTER*/
.filter{
  margin-top: 30px;
  margin-left: 120px;
  background-color: #101010;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

/* MOVIES */
content{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.movie-list{
  margin-top: 20px;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.movies{
  font-family: 'Montserrat', sans-serif;
  width: 230px;
  height: 406px;
  text-align: center;
  margin: 20px 50px;
  justify-content: center;
}

.img{
  width: 200px;
  height: 300px;
  object-fit: cover;
  padding: 10px;
  border-radius: 3%;
}

.movies a{
  color: white;
  text-decoration: none;
}

/* FOOTER */
  footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;  
    padding: 25px;
    background-color: #101010;
    color: white;
    border-top: 1px white solid;
 }

 footer a{
   color: white;
   text-decoration: none;
 }

#bttop{
  background-color: #101010;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: white;
  margin: 10px;
  border-style: none;
}


