body {
    font-family: 'Montserrat', sans-serif;
    transition: background-color .5s;
    margin:0;
 }

#wrapper {
    background-color: #101010;
    color: white;
    width: 100%;
    margin: auto;
}

/* NAV BAR */
.topnav {
    display:grid;
    grid-auto-flow: column;
    background-color: #101010;
    justify-content:center;
    align-items:center;
    font-family: 'Montserrat', sans-serif;
    padding:15px;
    border-bottom: 1px white solid;
    padding-left: 90px;
 }

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 10px 35px;
    text-decoration: none;
    font-size: 18px;
 }

 .topnav a:hover {
    text-decoration: underline;
 }

.topnav a.active {
    background-color: #d84727;
    color: white;
 }

 .topnav .homebutton{
    border: 3px white solid;
 }

 .topnav .homebutton a:hover{
    text-decoration: none;
 }

/* BANNER */
.banner{
  background: url('../Images//showingnow.jpg') no-repeat;
  height: 240px;
  display: flex;
}

.banner-text{
font-size: 20px;
color: white;
text-shadow: 5px 5px #101010;
margin: auto;
width: fit-content;
}

/*FILTER*/
.filter{
  margin-top: 30px;
  margin-left: 120px;
  background-color: #101010;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

/* MOVIES */
content{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.movie-list{
  margin-top: 20px;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.movies{
  font-family: 'Montserrat', sans-serif;
  width: 230px;
  height: 406px;
  text-align: center;
  margin: 20px 50px;
  justify-content: center;
}

.img{
  width: 200px;
  height: 300px;
  object-fit: cover;
  padding: 10px;
  border-radius: 3%;
}

.movies a{
  color: white;
  text-decoration: none;
}

/* FOOTER */
  footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;  
    padding: 25px;
    background-color: #101010;
    color: white;
    border-top: 1px white solid;
 }

 footer a{
   color: white;
   text-decoration: none;
 }

#bttop{
  background-color: #101010;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: white;
  margin: 10px;
  border-style: none;
}


